.row.margin-top-25
  .col-md-1
  .col-md-10
    %h2.page_title
      Reportes ejecutivos de Cantidad de Interfaces Saturadas por Arquitectura
  .col-md-1
%hr

.row.margin-top-10
  .col-md-2
  .col-md-8
    %h4.margin-top-20
      Cantidad de Enlace Crítico ( >85%) y Semi-Críticos ( >75%) en Internet -
      %strong
        =InternetInterface.maximum(:created_at).strftime("Semana " "%U")
    =link_to 'Detalle ', internet_interfaces_path, class: 'btn btn-sm btn-info', target: :_blank

.margin-top-20
%div.container
  #UtilizationCountInternet

.margin-top-20
%div.container
  = column_chart [ {name: "Críticos", data: InternetInterface.where("status >= 85").where.not(servicio: "PeerIntFacebook").group_by_week(:created_at, format: "%W-%Y").count}, {name: "SemiCríticos", data: InternetInterface.where("status >= 75 AND status < 85").group_by_week(:created_at, format: "%W-%Y").count} ], download: true, xtitle: "Senana", library: { animation: { easing: 'easeOutQuad' }}, legend: "bottom", colors: ["#F23C50", "#FFCB05"]

.row.margin-top-20
  .col-md-2
  .col-md-8
    %h4.margin-top-20
      Cantidad de Enlace Crítico ( >85%) y Semi-Críticos ( >75%) en Core MPLS -
      %strong
        =CoreInterface.maximum(:created_at).strftime("Semana " "%U")
    =link_to 'Detalle ', core_interfaces_path, class: 'btn btn-sm btn-info', target: :_blank

.margin-top-20
%div.container
  = column_chart [ {name: "Críticos", data: CoreInterface.where("status >= 85").group_by_week(:created_at, format: "%W-%Y").count}, {name: "SemiCríticos", data: CoreInterface.where("status >= 75 AND status < 85").group_by_week(:created_at, format: "%W-%Y").count} ], download: true, xtitle: "Semana", library: { animation: { easing: 'easeOutQuad' }}, legend: "bottom", colors: ["#F23C50", "#FFCB05"]

.row.margin-top-20
  .col-md-2
  .col-md-8
    %h4.margin-top-20
      Cantidad de Enlace Crítico ( >85%) y Semi-Críticos ( >75%) en Equipos de PreAGG Cisco -
      %strong
        =PreaggInterface.maximum(:created_at).strftime("Semana " "%U")
    =link_to 'Detalle ', preagg_interfaces_path, class: 'btn btn-sm btn-info', target: :_blank

.margin-top-20
%div.container
  = column_chart [ {name: "Críticos", data: PreaggInterface.where("status >= 85").group_by_week(:created_at, format: "%W-%Y").count}, {name: "SemiCríticos", data: PreaggInterface.where("status >= 75 AND status < 85").group_by_week(:created_at, format: "%W-%Y").count} ], download: true, xtitle: "Semana", library: { animation: { easing: 'easeOutQuad' }}, legend: "bottom", colors: ["#F23C50", "#FFCB05"]

.row.margin-top-40
  .col-md-2
  .col-md-8
    = link_to 'Volver', summaryreports_path, class: 'btn btn-sm btn-success'

.row.margin-top-20
