.row.margin-top-20
	.col-md-1
	.col-md-10
		%h3
			Editar Enlace de Internet

%div.col-md-4
	= render 'form'

	.margin-top-20
	= link_to 'Volver', internet_links_path, class: 'btn btn-sm btn-success'
	.margin-top-20