.row.container
  .col-md-5
  .col-xs-12.col-sm-12.col-md-2
    %a{ href: '/summaryreports', class: "appblock_prin app5" }
      Reportes ejecutivos de Evolución
  .col-md-5

.row.margin-top-15.container
  .col-md-3
  .col-xs-12.col-sm-12.col-md-3
    %a{ href: '/ppmreports', class: "appblock app1" }
      Reportes del Cisco PPM
  .col-md-3
  .col-xs-12.col-sm-12.col-md-3
    %a{ href: '/samreports', class: "appblock app2" }
      Reportes ejecutivos del Nokia

.row.margin-top-15.container
  .col-md-3
  .col-xs-12.col-sm-12.col-md-3
    %a{ href: '/arborreports', class: "appblock app3" }
      Reportes del SP Arbor
  .col-md-3
  .col-xs-12.col-sm-12.col-md-3
    %a{ href: '/accedianreports', class: "appblock app4" }
      Reportes de Calidad de Red

.margin-top-50